.flex-container {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: #949494;
  box-shadow:inset;
  -webkit-box-shadow: 0 4px 6px -6px #222;
}

.title-link {
  width: max-content;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 2 1;
}

.flex-container > div > a {
  color: #949494;
  border-bottom: hidden;
  border: hidden;
  outline: none;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.flex-container > div > a:hover {
  color: lightpink;
  font-size: 33px;
  border-bottom: solid, #222;
  font-family: Montserrat, sans-serif;
}

.title-name {
  color: #949494;
  border-bottom: hidden;
  border: hidden;
  outline: none;
  text-decoration: none;
}

#body
.flex-container-home {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: #949494;
  box-shadow:inset;
  -webkit-box-shadow: 0 4px 6px -6px #222;
}
.flex-container-home > div {
  width: max-content;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.item {
  box-shadow:inset;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  padding: 1em;
  max-width: 75%;
  background-color: #f1f3f2;
  text-align: center;
  width: 600px;
  height: 400px;
}

.exp-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 10em;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.box :first-child {
  align-self: center;
}

.exp-title {
  text-decoration: none;
  color: gray;
  font-size: 40px;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.exp-title-nextShift {
  text-decoration: none;
  color: gray;
  font-size: 36px;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.exp-desc {
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.exp-img {
  width: 6rem;
  border: 1px solid #d9e6ff;
}
.exp-img-veo {
  width: 10rem;
  border: 1px solid #d9e6ff;
}

.exp-link {
  text-decoration: none;
  font-weight: 500;
  color: orange;
  font-size: 25px;
}

.job-title {
  font-weight: bold;
}

.contact-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y:scroll;
}

.contact-inner-div {
  display:grid;
  gap: 10px 10em;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  grid-template-columns: 3fr;
}

.linkedin, .email-me-link, .github{
  font-size: 24px;
  color: lightpink;
  text-decoration: none;
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 4em;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.icon-contact {
  font-size: 4em;
}

.contact-link {
  padding: 30px;
}

.title-name {
  text-align: center;
  line-height: 75px;
  color: lightpink;
  margin-right: 16rem;
  font-weight: lighter;
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  margin-left: 1rem;
}

.syr-img, .elon-img {
  width: 9rem;
}

.background-title {
  margin: 0px;
  color: gray;
  font-size: 36px;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 500;
}

.campus-involv-title {
  color: gray;
}

.syr-h, .vol-h, .vol-p, .elon-h, .proj-desc {
  margin: 0px;
}

.vol-h, .media-serv-h3 {
  color: orange;
}

.syr-campus-inv {
  text-align: left;
  margin: 0px;
}

.syr-list > li > p {
  font-size: 16px;
}

.syr-list > li > h4 {
 color: orange;
}

.back-item {
  overflow-y: scroll;
}

.volunteering-title {
  margin-bottom: 5px;
}

.vol-desc {
  margin-bottom: 15px;
}

.proj-title {
  color: orange
}